.search {
  width: 100%;
  max-width: 21rem;

  background-color: $primary;
  box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
}

.search__input {
  background: none;
  border: none;
  padding: 1.2rem 2rem;

  font-family: inherit;
  font-size: 1.2rem;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.4);
  }

  @include breakpoint($tablet-bp) {
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
  }
}
