<div class="modal" id="contact-modal">
  <div class="modal__content modal__content--contact">
    <button class="modal__close" type="button">
      <img src="assets/images/close.svg" alt="close" />
    </button>
    <form class="form" action="/" method="post">
      <div class="form__group form__group--md">
        <input
          class="form__control"
          type="text"
          placeholder="Enter your name"
          value="Jack Daniels"
        />
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <input
          class="form__control"
          type="email"
          placeholder="Enter your email"
        />
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <textarea
          class="form__control form__control--textarea"
          placeholder="Enter your message"
        ></textarea>
        <span class="form__line"></span>
      </div>

      <div class="form__footer">
        <div class="form__group form__group--md">
          <button class="btn btn--blue btn--sm btn--rounded" type="submit">
            Send
          </button>
        </div>
      </div>
    </form>

    <ul class="modal__footer">
      <li>
        e-mail: <a href="mailto:info@mywebsite.com">info@mywebsite.com </a>
      </li>
      <li>
        тел:
        <a href="tel:+94323285622">+943-232-856-22</a>
      </li>
    </ul>
  </div>
  <!-- ./modal__content -->
</div>
<!-- ./modal -->
