<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="index.html">Homepage</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#"> Pages</a>
          <ul class="subnav">
            <li>
              <a class="subnav__link" href="#">Creating websites</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Internet marketing</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Video promotion</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">About me</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">Advertisement</a>
        </li>
      </ul>
    </nav>
    <button class="burger active" type="button" id="sidebarToggle">
      <span>open nav</span>
    </button>
  </div>
  <!-- ./header__left -->
  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="profile.html">Profile</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="signin.html">Out</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="/" method="post">
      <input class="search__input" type="text" placeholder="Search" />
    </form>
  </div>
</header>
