<aside class="sidebar" id="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar__header__Img.jpg" alt="" />
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="https://placehold.it/100" alt="" />
      <div class="profile__header">
        <div class="profile__name">Volodymyr Leskiv</div>
        <div class="profile__prof">Junior Front-End Developer</div>
      </div>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="" target="_blank">
            <img
              src="assets/images/instagram.svg"
              alt="Volodymyr Leskiv Instagram"
            />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="" target="_blank">
            <img
              src="assets/images/facebook.svg"
              alt="Volodymyr Leskiv Facebook"
            />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="" target="_blank">
            <img
              src="assets/images/pinterest.svg"
              alt="Volodymyr Leskiv Pinterest"
            />
          </a>
        </li>
      </ul>

      <div class="profile__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ipsa
          corrupti natus necessitatibus magni, et fugit dolorem. Labore itaque
          doloribus cupiditate illum ipsam repudiandae voluptatum sapiente
          placeat.
        </p>
      </div>
    </div>
    <!-- ./profile -->

    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="index.html">Home page</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#"> Pages</a>
          <ul class="subnav">
            <li>
              <a class="subnav__link" href="#">Creating websites</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Internet marketing</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Video promotion</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">About me</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">Advertisement</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="profile.html">Profile</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="signin.html">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- ./sidebar__content -->

  <div class="sidebar__footer">
    <a class="btn btn--red" href="works.html">My works</a>
    <button class="btn btn--blue" type="button" data-modal="contact-modal">
      Write me
    </button>
  </div>
</aside>
